/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  font-family: var(--font-family);
}

#createBtn {
  .p-button {
    color: #6c757d;
    border-color: #ced4da;
    &:hover {
      background-color: #f9f9fa !important;
      border-color: #3b82f6 !important;
      color: #6c757d !important;
    }
  }
}

.correct-answer {
  .p-button {
    opacity: 1 !important;
    margin-top: 0.5rem !important;
    color: #ffffff !important;
    background-color: rgb(47, 173, 47) !important;
    border-color: rgb(47, 173, 47) !important;
  }
}

.wrong-answer {
  .p-button {
    opacity: 1 !important;
    margin-top: 0.5rem !important;
    color: #ffffff;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
  }
}

.answer-button {
  .p-button {
    opacity: 1 !important;
    margin-top: 0.5rem !important;
    color: rgb(47, 173, 47);
    border-color: rgb(47, 173, 47);
    &:hover {
      color: rgb(47, 173, 47) !important;
      background-color: rgb(215, 241, 215) !important;
      border-color: rgb(47, 173, 47) !important;
    }
  }

  .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgb(47, 173, 47), 0 1px 2px 0 black;
  }

  .p-togglebutton.p-button.p-highlight {
    background-color: rgb(47, 173, 47);
    border-color: rgb(47, 173, 47);
    &:hover {
      color: white !important;
    }
  }
}

.submit-button,
.new-quiz-button {
  .p-button {
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
    &:hover {
      background-color: #575e64 !important;
      border-color: #6c757d !important;
    }
  }

  .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #6c757d, 0 1px 2px 0 black;
  }
}

.fail-quiz {
  background-color: red;
  color: white;
}
.pass-quiz {
  background-color: yellow;
}
.success-quiz {
  background-color: rgb(47, 173, 47);
  color: white;
}
